################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6440.34826.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.36924.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.36913.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.36572.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.36555.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.36516.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.36484.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.36439.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.33246.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.33199.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.33069.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.32917.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.32655.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.32118.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.31655.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.31605.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.31523.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.31384.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.31370.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.31354.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.30438.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.30344.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.30264.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.28250.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6434.22309.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6433.41706.txt
/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6433.31594.txt
