################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CRMTool/CRMTool/bin/Debug/ErrorLog/1.1.6440.34826.txt
