################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CRMTool/CRMTool/bin
/CRMTool/CRMTool/obj
*.txt
/Licencjat_new_server/Licencjat_new_server/bin
/Licencjat_new_server/Licencjat_new_server/obj
