<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.0" targetFramework="net452" />
  <package id="gong-wpf-dragdrop" version="1.1.0" targetFramework="net452" />
  <package id="HtmlRenderer.Core" version="1.5.0.5" targetFramework="net452" />
  <package id="HtmlRenderer.WPF" version="1.5.0.6" targetFramework="net452" />
  <package id="ImapX" version="2.0.0.18" targetFramework="net452" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.0.3.902" targetFramework="net452" />
  <package id="MediaTypeMap" version="2.1.0.0" targetFramework="net452" />
  <package id="Unofficial.Awesomium.Complete" version="1.7.4.2" targetFramework="net452" />
  <package id="WpfAnimatedGif" version="1.4.14" targetFramework="net452" />
</packages>